.navbar {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    color: #fff;
    border-bottom: 1px solid #eaeaea;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style: none;
    text-decoration: none;
}

.navbar-link {
    text-decoration: none;
}