.grid {
    padding: 1rem 0;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(minmax(), minmax(150px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(150px, auto);
}

@media (min-width: 500px) {
    .grid {
        width: 500px;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
}

@media (min-width: 1000px) {
    .grid {
        width: 800px;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
}

@media (min-width: 1500px) {
    .grid {
        width: 1200px;
        grid-template-columns: repeat(5, minmax(200px, 1fr));
    }
}

@media (min-width: 2200px) and (max-width: 3000px) {
    .grid {
        width: 1600px;
        grid-template-columns: repeat(10, minmax(200px, 1fr));
    }
}

.grid li {
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    text-decoration: none;
    color: #000;
}