:root {
    --column_width: 150px;
}

.grid {
    padding: 1rem 0;
    display: grid;
    margin: auto;
    grid-template-columns: 150px;
    grid-auto-rows: minmax(150px, auto);
}

@media (min-width: 400px) {
    .grid {
        max-width: 300px;
        grid-template-columns: repeat(2, 150px);
    }
}

@media (min-width: 700px) {
    .grid {
        max-width: 600px;
        grid-template-columns: repeat(4, 150px);
    }
}

@media (min-width: 900px) {
    .grid {
        max-width: 750px;
        grid-template-columns: repeat(5, 150px);
    }
}

@media (min-width: 1700px) and (max-width: 3000px) {
    .grid {
        max-width: 1500px;
        grid-template-columns: repeat(10, 150px);
    }
}

.grid li {
    display: block;
    background: #111111;
    border: 1px solid #111111;;
    padding: 10px;
    text-decoration: none;
    color: white;
    width: 150px;
}